.body {
  margin: 0px !important;
}

.container {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

@font-face {
  font-family: Satoshi;
  font-weight: 700;
  src: url("assets/satoshi.woff2");
}

.title {
  font-size: 20px;
  font-family: Satoshi;
  color: #333333;
  text-align: center;
}

.subtitle {
  font-size: 13px;
  color: #545454;
  text-align: center;
  margin-top: -2px;
}

.button {
  border: 1px solid #e4e4e7;
  color: #333333;
  text-decoration: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-radius: 0.375rem;
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  padding: 0 1.5rem;
  margin-top: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.button:hover {
  background-color: #f4f4f5;
}

.button:active {
  background-color: #e4e4e7;
}

.button > img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.75rem;
}

#login-div,
#session-div {
  display: none;
}

.profile-pic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #414141;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
