.response {
  overflow-x: scroll;
}

.response::-webkit-scrollbar {
  display: none;
}

.response p {
  margin-bottom: 20px;
}

.response p {
  max-width: 90%;
}

.response ol {
  list-style: decimal;
  padding-left: 1.75rem;
  margin-top: 0;
}

.response pre {
  max-width: 300px;
  margin-bottom: 20px;
}

.response code {
  margin-bottom: 20px;
}

.response button {
  display: none;
}

@media screen and (min-width: 768px) {
  .response pre,
  .response p {
    max-width: 800px;
  }
}
